* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container, .main {
    width: 1140px;
    margin: 0 auto;
}

body {
    background-color: #F8F8F8;
}

.main {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 1px;
        height: 100%;
        background-color: var(--dark-color);
        top: 170px;
        left: -100px;
    }
}