.promo {
    padding: 160px 0;
    height: 700px;
    &__container {
        position: relative;
    }
    &__title {
        width: 520px;
    }
    &__descr {
        margin-top: 30px;
        width: 360px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: var(--dark-color);
    }
    &__btn {
        margin-top: 45px;
    }
    &__img {
        position: absolute;
        width: 700px;
        height: auto;
        top: -35px;
        right: 0;
    }
    &__wa-btn {
        margin-top: 20px;
    }
}

.landing-promo {
    &__img {
        position: absolute;
        width: 760px;
        height: auto;
        top: -75px;
        right: 0;
    }
}

.corporate-promo {
    &__img {
        position: absolute;
        width: 676px;
        height: auto;
        top: -150px;
        right: 0;
    }
}

.store-promo {
    &__img {
        position: absolute;
        width: 854px;
        height: auto;
        top: -80px;
        right: -20px;
    }
}

.business-promo {
    &__img {
        position: absolute;
        width: 678px;
        height: auto;
        top: -76px;
        right: 0px;
        z-index: -1;
    }
}

.design-promo {
    &__img {
        position: absolute;
        width: 570px;
        height: auto;
        top: -43px;
        right: -20px;
        z-index: -1;
    }
}

.seo-promo {
    &__img {
        position: absolute;
        width: 654px;
        height: auto;
        top: -32px;
        right: -20px;
        z-index: -1;
    }
}

.present-promo {
    &__img {
        position: absolute;
        width: unset;
        height: auto;
        top: -32px;
        right: -20px;
        z-index: -1;
    }
}

.webdigital-promo {
    &__img {
        position: absolute;
        width: unset;
        height: auto;
        top: -32px;
        right: -20px;
        z-index: -1;
    }
}

@media (max-width: 1439px) {
    .promo {
        &__descr {
            width: 340px;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .landing-promo {
        &__img {
            right: -72px;
        }
    }
    
    .corporate-promo {
        &__img {
            top: -183px;
            right: -49px;
        }
    }

    .store-promo {
        &__img {
            top: -93px;
            right: -110px;
        }
    }

    .business-promo {
        &__img {
        }
    }
    
    .design-promo {
        &__img {
            width: 520px;
            right: -6px;
        }
    }
    
    .seo-promo {
        &__img {
        }
    }
    
    .present-promo {
        &__img {
        }
    }
    
    .webdigital-promo {
        &__img {
        }
    }
}

@media (max-width: 1199px) {
    .promo {
        padding: 135px 0 50px;
        height: 620px;
        &__title {
            width: 420px;
        }
        &__img {
            width: 627px;
        }
    }

    .landing-promo {
        &__img {
            right: -32px;
            width: 599px;
            top: -51px;
        }
    }
    
    .corporate-promo {
        &__img {
            width: 564px;
            top: -153px;
            right: -60px;
        }
    }

    .store-promo {
        &__img {
            width: 711px;
            top: -56px;
            right: -61px;
        }
    }

    .business-promo {
        &__img {
            width: 622px;
            top: -68px;
            right: -31px;
        }
    }
    
    .design-promo {
        &__img {
            width: 520px;
            right: -6px;
        }
    }
    
    .seo-promo {
        &__img {
            width: 543px;
            top: -17px;
            right: 2px;
        }
    }
    
    .present-promo {
        &__img {
        }
    }
    
    .webdigital-promo {
        &__img {
        }
    }
}