.sidebar {
    height: 100vh;
    width: 100px;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 85px 0;
    background-color: var(--dark-color);
    &__hamburger {
        height: 25px;
        width: 52px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        div {
            height: 8px;
            width: 100%;
            background-color: #FBFEFF;
        }
    }
    &__contact {
        position: relative;
        cursor: pointer;
        &:hover {
            .sidebar__text {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__text {
        padding: 8px 32px;
        width: max-content;
        position: absolute;
        bottom: -2px;
        right: 95px;
        border: 1px solid var(--dark-color);
        border-radius: 28px;
        visibility: hidden;
        opacity: 0;
        transition: all .5s;
    }
} 

@media (max-width: 1439px) {
    .sidebar {
        width: 80px;
    }
}